{
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "preserve"
            }
        }
    ]
}
